@model Logic.DTO.AppUserDTO

<head>
    <link rel="stylesheet" href="~/css/chat.css" />
</head>

<div class="msger" data-sender="@User.Identity.Name" data-username="@Model.Username" data-id="@Model.Id">
    <header class="msger-header">
        <div class="msger-header-title">
            <i class="fas fa-comment-alt"></i> SimpleChat
        </div>
        <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
        </div>
    </header>
    <div class="msger-chat">
        
    </div>
    <div id="typing" hidden>Typing...</div>
    <form class="msger-inputarea">
        <input type="text" class="msger-input" placeholder="Enter your message...">
        <button type="submit" class="msger-send-btn">Send</button>
    </form>
</div>

@section Scripts{
    <script src="~/js/chat.js"></script>
}